@model ProductModel

<h3 style="text-align: left; width: 106%; margin-top: -20px; padding: 10px; margin-left: -15px;background-color: #f6f6f6; color: red;">Delete Product</h3>
<div class="container mt-3 bg-white  my-3">
    <form asp-action="DeleteProduct" asp-controller="Product">
        <h4 class="mt-2">Do You Want To Delete Product</h4>
        <p class="w-75" style="background-color: #f6f6f6; font-size: 25px; font-weight: 700; padding: 15px;"> @Model.Name </p>
        <button type="submit" class="btn-dark btnall mt-4 w-100  text-danger">
            Delete Product
        </button>
    </form>
</div>
