
@{
    ViewData["Title"] = "WhoAreWe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="allBox">
    <h1>Who We Are</h1>
</div>
<div style="background-color:#f2f2f2; padding:15px;">
    <div class="container bg-white text-justify p-4">
        <h3 class="font-weight-bold">Partnering to build a world where all children are Protected.</h3>
        <p>
            Vee Seven Child Protective , A Baby Safety Company delivers, cost-effective high quality child safety products. We are passionate about our work and seize every opportunity to prove our product quality. We are the leading Baby Safety Brand in Dubai, UAE and Middle East. we are partner with F I N Trading Dubai UAE a leading trading company in the region.<br />

            Vee Seven has a unique market position and is trusted by some of the UAE’s largest brands. Driven by our core Value of Care, we have accumulated years of experience in Child safety Products. Our creative approach and dedicated team save customers time and money in the sourcing of innovative, solutions to protect there children from accidents and sometimes we design extraordinary products only to protect children from any harm.<br />

            Our goal is to give you a peace of mind that your child will be safe inside and outside of home. Partnering to build a world where all children are safe, we educate, we consult, we protect your home, Play area, Schools Garden.<br />
        </p><br>
    </div>
    <br><br>


    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="~/Images/image1.jpg" class="whoImages" alt="" srcset="">
            </div>
            <div class="col-md-6 mt-4" style="margin-left: -150px;">
                <p class="whoTextcol">I'm the CEO!!!</p>
                <h3 class="font-weight-bold mt-5 whoTextcol">IBRAHIM ABDULA</h3>
                <p class="mt-5 whoTextcol">My future starts when i wake up every morning. Every day i find something creative to do with my life. I see business in every product.</p>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-6 mt-4" style="margin-left: 0px;">
                <p>I'm the FOUNDER!!!</p>
                <h3 class="font-weight-bold mt-5">MUHAMMAD YASIR​</h3>
                <p class="mt-5">Creative thinking - in terms of idea creativity - is not a mystical talent. It is a skill that can be practiced nurtured. I'm always thinking about creating.​</p>
            </div>
            <div class="col-md-6">
                <img src="~/Images/image2.jpg"  class="whoImages mx-5" alt="" srcset="">
            </div>

        </div>
        <div class="row mt-5">
            <div class="col-md-6">
                <img src="~/Images/image3.jpg"  class="whoImages" alt="" srcset="">
            </div>
            <div class="col-md-6 mt-4" style="margin-left: -150px;">
                <p class="whoTextcol">I'm the General Manager!!!</p>
                <h3 class="font-weight-bold mt-5 whoTextcol">HASSAN ZAIB</h3>
                <p class="mt-5 whoTextcol">My future starts when i wake up every morning. Every day i find something creative to do with my life. I see business in every product.</p>
            </div>
        </div>
    </div>

</div>

