@model ImactStorieModel
<h3 style="text-align: left; width: 106%; margin-top: -20px; padding: 10px; margin-left: -15px;background-color: #f6f6f6; color: red;">Delete Story</h3>
<div class="container mt-3 bg-white  my-3">
    <h4 class="mt-2">Do You Want To Delete Story</h4>
    <form asp-action="DeleteStory" asp-controller="ImpactStory">
        <input asp-for="Id"  hidden/>
        <p class="w-75" style="background-color: #f6f6f6; font-size: 25px; font-weight: 700; padding: 15px;"> @Model.Headline </p>
        <button class="btn-dark btnall mt-4 w-75" style="border-radius: 0px; padding: 0px 20px; font-size: 24px;">
            Delete Story
        </button>
    </form>
</div>